.Home-yellow {
  color: var(--yella);
}

.Home-logo {
  max-width: 160px;
  margin: 1em;
}

.Home-header {
  font-family: var(--headerFont);
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
  margin: 0;
}

.Home-descript {
  font-size: 1.2em;
  margin: 1em auto 2em;
  max-width: 520px;
}

@media screen and (max-width: 720px) {
  .Home-header {
    font-size: 2.4em;
  }

  .Home-descript {
    font-size: 1em;
  }

  .Home-container {
    margin-top: 10vh;
  }
}
