.Home-yellow {
  color: var(--yella);
}

.Home-logo {
  max-width: 160px;
  margin: 1em;
}

.Home-header {
  font-family: var(--headerFont);
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
  margin: 0;
}

.Home-descript {
  font-size: 1.2em;
  margin: 1em auto 2em;
  max-width: 520px;
}

.Home-button {
  background: var(--black);
  border-radius: var(--radius-s);
  padding: 0.5em 2.5em;
  color: var(--s-white);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.Home-button:hover {
  background: var(--grey);
}

@media screen and (max-width: 720px) {
  .Home-header {
    font-size: 2.4em;
  }

  .Home-descript {
    font-size: 1em;
  }

  .Home-container {
    margin-top: 10vh;
  }
}
